streamlit
setuptools>=38.6.0,!=50.0.0
Cython>=0.29,!=0.29.18,!=0.29.31
numpy==1.26.4 # <-- numpyのバージョンを固定 (例として1.26.4、適宜調整)
pandas>=0.19
scipy>=1.3.2
joblib>=0.11
scikit-learn>=0.22
statsmodels>=0.13.2
urllib3
packaging>=17.1
plotly
matplotlib
openpyxl
python-dateutil
psutil
pillow
reportlab
jpholiday
xlsxwriter>=3.0.0
# pytz==2025.2 # zoneinfo の使用を推奨
pmdarima==2.0.4